@charset "UTF-8";


/* Propiedades de estilo de todos os parágrafos */ 
p{
	text-align: center;
	font-family: 'Segoe UI';
	font-size: 100%;
}
/* Tirando todo e qualquer espaçamento co corpo do site.  */
html, body{
	margin: 0;
	padding: 0;
}
/* Personalizando o rodapé do site e o deixando fixo no final da página */
footer{
	background-color: #000;
	color: white;
	width: 100%;
	height: 150px; 
	box-shadow: 0px 0px 10px black;
	display: flex;
	position: absolute;
	bottom: 0;
}
div#interface{
	text-align: center;
}
nav#menu {
	position:absolute;
	right: 60%;
	top: 45px;
	width: 8em;
	margin-top: -2.5em;
}

nav#menu ul {
	list-style: none;
	display: flex;
	
}

nav#menu li{
	display: inline-block;
	background-color: white;
	padding: 12px;
	margin: 4px;
}

nav#menu h1{
	display: none;
}

nav#menu a{
	color: #003c92;
	text-decoration: none;
	font-size: 18px;
	font-weight: bolder;
	font-family: arial;
}
nav#menu a:hover{
	text-decoration: overline 3px;
}
li{
	list-style:none;
	display: inline-block;
}
a{
	text-decoration:none;
	font-family: Arial;
	color: #003c92;
	font-weight: bolder;
}
.container{
	width: 1348px;
	height: 550px;
	position: relative;
}
.regioes{
	position: absolute;
	text-align: center;
	top: 17%;;
	left: 5%;
}


